@model MaqaletyCore.AuthorPost

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:Cairo">حذف المشاركه</h1>

<h3 style="font-family:Cairo">هل انت متاكد من الحذف حيث لا يمكن استعاده البيانات</h3>
<div>
    <h4 style="font-family:Cairo">بيانات المقال</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImageUrl)
        </dt>
     
        <dd class="col-sm-10">
            <img src="~/img/@Model.PostImageUrl" class="img-fluid" />
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedTime)
        </dd>

       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">الرجوع الي المقالات</a>
    </form>
</div>
