@model Maqalety.VoreView.AuthorModelView

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:Cairo">حذف</h>

    <h3 style="font-family:Cairo">هل انت متاكد من الحذف حيث لا يمكن استعادته البيانات</h3>
<div>
    <h4 style="font-family:Cairo">معلومات الناشر</h4>
  <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instgram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Twiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Twiter)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">الرجوع الي المستخدمين</a>
    </form>
</div>
